<!DOCTYPE html>
<html>
<head>
    <title>Book list</title>
</head>
<body>
<a href="add_book.html"> Add book </a>
<ul>
<% for (book of books) {%>
    <li> <%= book.name%> </li>
<%}%>
</ul>

</body>
</html>
