<!DOCTYPE html>
<html>
<head>
    <title>Book list</title>
</head>
<body>
<h4><a href="add_book.html"> Add book </a></h4>
<h3>List of books:</h3>
<ul>
<% for (book of books) {%>
    <li><h4> <%= book.name%> </h4></li>
<%}%>
</ul>

</body>
</html>
